.toggler{
    color: white;
    font-size: large;
}
.navhead{
    text-decoration: none;
    color: white!important;
}
.navhead:hover{
    width: max-content;
    border-bottom: solid 2px #ffff;
}
.navbtn{
    outline: none!important;
    border: none!important;
}
.logo{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bolder;
}
.logo:hover{
    color: white;
}
.navbar{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}
*::-webkit-scrollbar{
    display: none!important;
}