.ccard{
    width: 50%;
    border-radius: 35px;
    border: 2px solid grey;
    margin-top: 2rem;
}
@media screen and (max-width:480px){
    .ccard{
        width: 100%;
    }
}
hr.solid{
    border-top: 2px solid grey;
}
.cimage{
    display: block;
    text-align: center;
    width: 5rem;
    height: 5rem;
}